.profile {
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

@media all and (max-width: 950px) {
    .profile {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media all and (max-width: 767px) {
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}