.profile {
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36.25px;
}
@media all and (max-width: 1279px) {
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }