.popupimg__capture {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@media all and (max-width: 767px) {
    .popupimg__capture {
        font-size: 18px;
        line-height: 22px;
        /* max-width: 238px; */
        padding: 0;
        margin: 0;
    }
}