.header__logo {}

@media all and (max-width: 950px) {
  .header__logo {
    padding-left: 15px;
  }
}

@media all and (max-width: 767px) {
  .header__logo {
    padding: 27px 0 0 28px;
    max-width: 104px;
  }
}