.profile__add-button {
    width: 150px;
    height: 50px;
    color: #ffffff;
    background-color: #000000;
    border: solid 2px #ffffff;
}
@media all and (max-width: 1279px) {
    .profile__add-button {
        width: 282px;
    }
}