.profile__add-button {
    width: 150px;
    height: 50px;
    background-image: url(../../../images/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    background-color: #000000;
    border: solid 2px #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media all and (max-width: 767px) {
    .profile__add-button {
        width: 282px;
        background-image: url(../../../images/plus_mobile.svg);
    }
}