.profile__info {
    max-width: 336px;
    display: flex;
    flex-wrap: wrap;
    padding-right: 24%;
}

@media all and (max-width: 950px) {
    .profile__info {
        padding-left: 10px;
    }
}
@media all and (max-width: 767px) {
    .profile__info {
        max-width: 320px;
        padding-right: 0;
        padding-bottom: 33px;
        justify-content: center;
    }
}