.elements__list-item {
    color: #000000;
    background-color: #FFFFFF;
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 26px;
    margin: 0;
    position: relative;
}

@media all and (max-width: 1279px) {
    .elements__list-item {
        max-width: 282px;
        justify-self: center;
    }
}