.elements__list-item {
    color: #000000;
    background-color: #FFFFFF;
    max-width: 100%;
    width: 100%;
    height: 100%;
    /*width: 282px;
    height: 362px;*/
    border-radius: 10px;
    overflow: hidden;
    margin: 0;
}
@media all and (max-width: 1279px) {
    .elements__list-item {
        max-width: 282px;
        justify-self: center;
    }
}