.popup__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    border-bottom: 1px solid #f1f1f1;
    margin: 0;
    padding-top: 30px;
}
@media all and (max-width: 1279px) {
    .popup__text {
        max-width: 282px;
        align-self: center;
    }
}