.popup__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 27px 0px 9px 0px;
}
@media all and (max-width: 767px) {
    .popup__text {
        max-width: 282px;
        padding-top: 38px;
    }
}